@font-face{
    font-family: '함박눈';
    src: url('../../fonts/SF함박눈-TTF.ttf')
}

@font-face{
    font-family: 'hamLight';
    src: url('../../fonts/Hahmlet-Light.ttf')
}

@font-face{
    font-family: 'hamMedium';
    src: url('../../fonts/Hahmlet-Medium.ttf')
}

@font-face{
    font-family: 'hamExtraL';
    src: url('../../fonts/Hahmlet-ExtraLight.ttf')
}

.fullpage {
    height: 92%;
    margin: 5%;
    border: 1.5px solid #CADCAC;
    border-radius: 20px;
    font-family: 'hamLight';
    text-align: center;
    place-items: center;


    .text-container{
        margin-top: 5%;
        text-align: center;
        place-items: center;


        .title {
            font-family: '함박눈';
            color: #f0bb62;
            font-size: 30px;
            padding-left: 17px;
            padding-bottom: 20px;
             
        }

        .QuestionText{
            font-family: '함박눈'; 
            text-align: left;
            padding-left: 17px;
            padding-right: 16px;
            margin-bottom: 2px;
            font-size:18px;
            // word-break: normal;
        }

        .AnswerText{
            font-family: 'hamLight';
            font-size: 15px; 
            text-align: left;
            padding-left: 17px;
            padding-right: 16px;
            padding-bottom: 10px;
        }
    }

    .flower-background {
        object-fit: contain;
        position: absolute;
        display: block;

        border-radius: 20px;
        height: 86%;
        width: 80%;
        margin-left: 5%;
        margin-top: 0;
    }
    
    
}

